#* SOLO COLOCAMOS ESTO CUANDO EL ARCHIVO SE ENCUENTRE EN LA RAÍZ DEL PROYECTO
root = true

[*.html]
charset = utf-8

#* INDICA LA CANTIDAD DE ESPACIOS EN EL INDENTADO
indent_size = 4

#* INDICA EL ESTILO DEL INDENTADO (SPACE O TAB)
#! SOLO PARA APLICA PARA NUEVAS EDICIONES, SI LOS INDENTADOS ANTERIORES SON DE OTRO ESTILO, ESTOS NO CAMBIARÁN
indent_style = space

#* LA PROPIEDAD END_OF_LINE SE REFIERE AL CARACTER QUE ES UTILIZADO PARA REPRESENTAR UN SALTO DE LINEA
#TODO => LF stands for Line Feed (\n)
#TODO => CR stands for Carriage Return (\r)
#TODO => CRLF is simply CR followed by LF (i.e., \r\n)
end_of_line = lf

#* ESTA PROPIEDAD AGREGA UNA LÍNEA VACÍA AL FINAL
insert_final_newline = true

#* ESTA PROPIEDAD ELIMINA CUALQUIER ESPACIO EN BLANCO QUE QUEDE AL FINAL DE LAS LINEAS
trim_trailing_whitespace = true