<div class="flex flex-col gap-2 p-4">
  <div class="font-semibold text-xl">Tutorial RxJS</div>

  Seleccione algún elemento de la lista para poder ver el contenido del tema.
</div>

<div class="w-full flex flex-col gap-8">
  <div class="w-full md:w-1/2 mb-5">
    <ul class="w-full text-body list-inside seleccionable">
      @for(rx of listaRx; track rx.value){
        <li class="flex items-center px-4 gap-3" (click)="abrirTema(rx)">
          <svg *ngIf="rx.fueLeido" class="w-8 h-8 text-fg-success" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>

          <svg *ngIf="!rx.fueLeido" class="w-8 h-8 text-fg-success" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 9 L15 15 M15 9 L9 15 m12 -3 a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>

          {{rx.label}}
        </li>
      }
    </ul>
  </div>
</div>
